/* Existing Styles */
.Sponsor {
  display: block;
  text-align: center;
}

.row > a > img {
  max-width: 100%;
  align-self: center;
  transition: 0.2s;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.placeholder {
  text-align: center;
}

.row a {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.row > a > img:hover {
  transform: scale(1.12);
}

.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Img {
  max-height: 10rem;
  width: auto;
  margin: 1rem 1rem;
}

.logobutton button {
  font-family: BoldFont;
  font-size: 15px;
  font-weight: 100;
  margin: 20px;
  border: none;
  border-radius: 8px;
  width: 175px;
  height: 55px;
  margin-top: 70px;
  transition: 0.3s ease-in-out;
  background: linear-gradient(transparent, rgba(0, 83, 93, 0.411)) top/100% 800%;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.logobutton button:hover {
  background-position: bottom;
  cursor: pointer;
}

.btn {
  background-color: #ffffff !important;
  color: black;
}

.hbtn {
  color: black;
}

h1 {
  color: white;
}

@media (max-width: 768px) {
  .Img {
    max-width: 20rem; /* Reduce image height for smaller screens */
    margin: 0.5rem 0.5rem;
  }
}

/* THIS NEEDS TESTED */
/* @media (max-width: 480px) {
  .Img {
    max-width: 15rem;
    margin: 0rem;
  }
} */
