.Sponsor {
  display: block;
  text-align: center;
}

div[class^="row"] {
  transition: width 0.3s, height 0.3s;
}

img {
  max-width: 100%;
  height: auto;
  margin: 30px 20px;
  align-self: center;
}
