@media screen and (max-width: 2560px) {
  .Past {
    width: 100%;
  }

  .logo {
    width: 150px;
    height: 150px;
    align-self: center;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .logobutton button {
    font-family: BoldFont;
    font-size: 18px;
    font-weight: 700;
    margin: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 175px;
    height: 60px;
    margin-top: 35px;
    transition: 0.5s ease-in-out;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)) top/100% 800%;
  }

  .logobutton button:hover {
    background-position: bottom;
    cursor: pointer;
  }

  .btn1 {
    background-color: #92051a !important;
    color: white;
  }

  .btn2 {
    background-color: #49e6c0 !important;
    color: white;
  }

  .btn3 {
    background-color: #404ca3 !important;
    color: white;
  }

  .btn4 {
    background-color: #f1f1f1;
    color: black;
  }

  .Hackathon {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 50px;
  }

  .circle {
    height: 15px;
    width: 15px;
    background-color: black;
    margin: auto;
  }

  .line {
    height: 60px;
    background-color: black;
    width: 3px;
    margin: auto;
    margin-top: -10px;
  }

  .Timeline {
    height: 3px;
    background-color: black;
    width: 850px;
    position: absolute;
    top: 364px;
    left: 75px;
  }
}

@media screen and (max-width: 991px) {
  .logobutton button {
    margin-top: 50px;
  }

  .logo {
    width: 200px;
    height: 200px;
    align-self: center;
  }

  .Hackathon {
    margin-left: 30px;
    margin-right: 30px;
  }

  .Timeline {
    display: none;
  }

  .line {
    display: none;
  }

  .circle {
    display: none;
  }
}

@media screen and (max-width: 511px) {
  .Hackathon {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
