.Organizer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
}

.OrganizerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
}
