.Organizer {
  align-content: space-between;
  justify-content: space-evenly;
}

.OrganizerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}
